/* Global */
* {
    box-sizing: border-box;
}
:root {
    --font-heading: Sen, sans-serif;
    --primary-color: #ffb900;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* Commont */
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp.line-2 {
    --line-clamp: 2;
}
.main-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}
a {
    text-decoration: none;
}
.btn {
    min-width: 118px;
    height: 50px;
    border-radius: 999px;
    background: #171100;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3;
    display: inline-block;
    cursor: pointer;
}
.btn:hover {
    opacity: 0.9;
}
.heading {
    color: #171100;
    font-family: var(--font-heading);
    font-style: normal;
    font-weight: 700;
    letter-spacing: -1.16px;
}
.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.2;
}
.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.3; /* 126.316% */
    letter-spacing: -0.76px;
}
.break-all {
    word-break: break-all;
}
/* header */
.header {
    background: #fffcf4;
}
.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}
.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}
.nav {
    margin-left: auto;
}
.nav ul {
    display: flex;
}
.nav a {
    color: #5f5b53;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    padding: 8px 21px;
    position: relative;
}
.nav li.active a,
.nav a:hover {
    color: #171100;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
    display: inline-block;
    position: absolute;
    bottom: 7px;
    left: 21px;
}
.header .action {
    margin-left: 70px;
}
.header .action .signup-btn {
    min-width: 144px;
}
/* Hero */
.hero {
    padding: 56px 0 65px;
    background: #fffcf4;
}
.hero .body {
    display: flex;
}
.hero .media-block {
    width: 48%;
    position: relative;
}
.hero .media-block .img {
    object-fit: cover;
    width: 470px;
    height: 685px;
    border-radius: 20px;
    display: block;
}

.hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    width: 270px;
    padding: 24px;
}
.hero-summary .item {
    display: flex;
    align-items: center;
}
/* chọn 1 thẻ class item đầu tiên đứng ngay sau class item- không phải con */
/* .hero-summary .item + .item {
    margin-top: 22px;
} */
.hero-summary .item:not(.item:first-of-type) {
    margin-top: 22px;
}
.hero-summary .item:nth-child(2) .icon {
    background: #fcefff;
}
.hero-summary .item:nth-child(3) .icon {
    background: #ebeaff;
}
.hero-summary .item .icon {
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background: #fff9e8;
}

.hero .info {
    margin-left: 16px;
}
.hero .info .label {
    color: #5f5b53;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8; /* 185.714% */
}
.hero .info .title {
    color: #171100;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6; /* 166.667% */
}
/* Hero right */
.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .content-block .desc {
    color: #5f5b53;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7; /* 166.667% */
    margin: 22px 0 0;
}
.hero .cta-group {
    display: flex;
    align-items: center;
    /* gap: 28px; */
}
.hero .cta-group .hero-cta {
    margin: 38px 0 48px;
    min-width: 180px;
    min-height: 64px;
    /* border-radius: 32px; */
    background: var(--primary-color);
    line-height: 4.4;
}
.hero .watch-video {
    display: flex;
    border: none;
    background: transparent;
    margin-left: 28px;
    align-items: center;
    cursor: pointer;
}
.hero .watch-video .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    /* background: var(--primary-color); */
}
.hero .watch-video span {
    color: #171100;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6; /* 166.667% */
    margin-left: 14px;
}

.hero .content-block .desc-stats-strong strong {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3; /* 122.727% */
    padding-right: 8px;
}
.hero .content-block .desc-stats-strong strong:nth-child(2) {
    padding-left: 28px;
}
.hero .content-block .short-desc {
    margin: 0 0 8px;
}
/* Popular */
.popular {
    padding-top: 65px 0;
    margin-top: 135px;
}
.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular-top .desc {
    color: #5f5b53;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6; /* 166.667% */
    width: 458px;
    margin-top: 16px;
}
.popular-top .controls {
    display: flex;
    gap: 18px;
}
.popular-top .control-btn {
    border: 1px solid var(--primary-color);
    background: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--primary-color);
    cursor: pointer;
}
.popular-top .control-btn:hover {
    background: var(--primary-color);
    color: #fff;
}
/* course list */
.course-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}
.course-list .course-item {
    flex: 1;
    border: 1px solid #e2dfda;
    border-radius: 12px;
    background: #fff;
}
.course-list .course-item:hover {
    border: 1px solid transparent;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}
.course-list .course-item .thumb {
    width: calc(100% + 2px);
    border-radius: 12px 12px 0px 0px;
    height: 278px;
    object-fit: cover;
    margin: -1px;
}
.popular .course-item .info {
    padding: 16px 22px 0;
}
.course-list .foot,
.popular .course-item .rating,
.popular .course-item .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular .course-item .title a {
    padding-right: 6px;
    color: #171100;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}
.popular .course-item .value {
    color: #fea31b;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75; /* 175% */
    margin-left: 6px;
}
.course-item .info .desc {
    color: #5f5b53;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}
.course-list .foot {
    margin: 12px 0 22px;
}
.course-list .course-item .price {
    color: #171100;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}
.course-list .course-item .book-btn {
    border: none;
}
.course-list .course-item .book-btn:hover {
    background: var(--primary-color);
    color: #fff;
}
/* Feedback */
.feedback-list {
    display: flex;
    overflow: hidden;
}
.feedback {
    margin-top: 135px;
    padding: 96px 0;
    background: #2e2100;
}
.feedback-item {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    width: 100%;
}
.feedback-item .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}
.feedback-item .info .title {
    color: #f7f7f7;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.41; /* 141.667% */
    margin-top: 18px;
}

.feedback-item .info .desc {
    margin-top: 4px;
    color: #bfbcb2;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}
.feedback-item .info .dots {
    display: flex;
    margin-top: 28px;
}
.feedback-item .dots .dot.active {
    background: #ffb900;
    cursor: default;
}
.feedback-item .info .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    margin-right: 6px;
    cursor: pointer;
}
.feedback-item .content {
    width: 66%;
}
.feedback-item .content blockquote {
    margin-left: 30px;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.53; /* 153.846% */
}
